/**
Main
 */
.content-wrapper {
    background-color: #f3f3f3;
}

/**
Input File
 */
.custom-file-label::after {
    content: "Elegir archivo";
}

.custom-file-input::file-selector-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #495057;
    border: 1px solid #ced4da;
    transition: all 0.3s ease-in-out;
}

.custom-file-input::file-selector-button:hover {
    background-color: #ced4da;
    color: #fff;
}

